*{
    padding: 0px;
    margin: 0px;
    color: #FFF;
}

body{
    background-image: url("../img/background.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.contact{
    border-bottom: 2px solid rgb(146, 0, 0);
}