*{
    padding: 0px;
    margin: 0px;
    color: #FFF;
}

body{
    background-image: url("../img/background.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.icon{
    width: 100%;
    width: 50px;
}

.menu{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    margin: 0px 30px;
}

.main{
    display: flex;
    flex-direction: column;
    flex-grow: 4;
    background: rgba(100, 100, 100, .5);
    padding: 30px;
}

.pres-tittle{
    text-align: center;
    font-size: 60px;
    padding: 30px;
}

.main p{
    font-size: 20px;
    text-align: center;
    padding: 20px;
}

.languages{
    padding: 0px;
    width: 100%;
    height: 100%;
}

.languages-icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn{
    background: transparent;
    box-shadow: none;
    border: none;
}

.languages-icons img{
    width: 100px;
    padding: 20px;
}

.footer{
    width: 100%;
    text-align: center;
    align-self: flex-end;
    flex-grow: .5;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(100, 100, 100, .5);
}

a{
    text-decoration: none;
    margin: 0px 30px;
}

.home{
    border-bottom: 2px solid rgb(146, 0, 0);;
}

@media screen and (min-width: 700px){
    body{
        background: url("../img/background.jpg");
        background-size: cover;
    }

    .languages-icons{
        flex-direction: row;
    }

    .languages-icons img{
        padding: 30px;
    }
}